Cleaning Data for Analysis

In [28]:
## Reading in Data and checking head 
import os
import numpy
os.chdir(r"C:\Users\nolan\Documents\Fall 2021\Stat 451\Stat-451-Final-Project")
import pandas
raw_data = pandas.read_csv('soc19.csv')
pandas.DataFrame.head(raw_data)

,ACS,AGER,ASSOC,BASE,CAT,CLOS,CON,DECK,DET,DIV,...,FCONPR,FSLPR,PVALU,SQFS,FSQFS,LOTV,FNSQ,FFNSQ,AREA,AUTH
0,1,2,2,3,1,0,0,2,1,1,...,0,0,0,2700,0,0,0,0,26100,201808
1,2,2,2,1,1,0,2,1,1,1,...,0,330000,0,1600,1600,60000,0,0,87120,201907
2,2,2,2,1,1,0,2,1,1,1,...,0,280000,132000,1900,1900,70000,0,0,0,201908
3,1,2,2,1,1,0,0,1,1,1,...,0,0,425000,4500,0,0,220,0,21800,201812
4,2,2,1,1,1,0,2,1,2,1,...,0,0,0,1300,0,0,0,0,87100,201812

Because not all new construction homes were sold and amoung those that were sold not all reported the sale price. Those cases simply list sale price (SLPR) as 0. Because for our analysis these examples are not of interest to us they will be removed. Additionally there are two variables that indicate the sale price of the home: SLPR and FSLPR. FSLPR (Final Sale Price) is only filled in if the SLPR was changed before the final closing date. Because we would like the most accurate information FSLPR and SLPR will be combined into FSLPR filling in the missing information of FSLPR with SLPR.

In [64]:
## Cleaning the data for the desired set 

## Remove rows where sale price was not reported or house was not sold 
cleaned_data = raw_data[(raw_data['SLPR'] != 0) | (raw_data['FSLPR'] != 0)]

## Filling in missing info in FSLPR with SLPR
for i in range(len(cleaned_data['FSLPR'])):
    if cleaned_data.iloc[i,52]==0:
        cleaned_data.iloc[i,52] = cleaned_data.iloc[i,50]

## View head to check
pandas.DataFrame.head(cleaned_data)

## Write csv of cleaned data 
cleaned_data.to_csv('cleaned_data.csv', index=False)

cleaned_data[(cleaned_data['FSLPR'] == 0)]

Empty DataFrame
Columns: [ACS, AGER, ASSOC, BASE, CAT, CLOS, CON, DECK, DET, DIV, FINC, FNBS, FOYER, FRAME, GAR, HEAT, HEAT2, LNDR, MFGS, PATI, PRCH, SEWER, STOR, WAL1, WAL2, WALS, WATER, BEDR, COMP, FPLS, FULB, HAFB, SALE, STRT, WEIGHT, FUEL, FUEL2, AREA_F, FNSQ_F, FFNSQ_F, SLPR_F, FSLPR_F, CONPR_F, FCONPR_F, LOTV_F, SQFS_F, FSQFS_F, PVALU_F, ID, CONPR, SLPR, FCONPR, FSLPR, PVALU, SQFS, FSQFS, LOTV, FNSQ, FFNSQ, AREA, AUTH]
Index: []

[0 rows x 61 columns]